<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.junkielabs.parking">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".application.ApplicationMy"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JunkieParking"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.components.thanks.ActivityThanks"
            android:exported="false" />
        <activity
            android:name=".ui.components.account.ActivityProfile"
            android:exported="false" />
        <activity
            android:name=".ui.components.report.ActivityReport"
            android:exported="false"
            android:theme="@style/Theme.JunkieParking.Default" />
        <activity
            android:name=".ui.labs.slidebutton.LabsActivitySlide"
            android:exported="true" />
        <activity android:name=".ui.common.scanner.ActivityQrScanner" />
        <activity
            android:name=".ui.components.home.ActivityHome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.components.wait.ActivityWait" />
        <activity android:name=".ui.components.onboard.ActivityOnboard" />
        <activity android:name=".ui.components.walkthrough.ActivityWalkThrough" />
        <activity android:name=".ui.components.launcher.ActivityLauncher" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.components.auth.ActivityAuth"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ui.components.auth.google.ActivityAuthGoogle"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />
    </application>

</manifest>